.container {
    position: relative;
    width: 44px;
    height: 24px;
    border-radius: 100px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    cursor: pointer;
}

.circle {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 2px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 10s ease-in ;
}

.light-container {
    background-color: rgba(22, 24, 35, 0.12);
}

.light-circle {
    left: 2px;
}

.dark-container {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08)), rgb(11, 224, 155);
}

.dark-circle {
    right: 2px;
}

.dark-mode {
    --black: rgba(255, 255, 255, 1);
    --white: rgb(18, 18, 18);
    --white-button: #333;
}
